@charset "UTF-8";  

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
  font-family:"Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    text-align: justify;
}


body{   
    background-image: linear-gradient(to right, #D9923B, #F2E5A0);
}
main{
    background-color: yellowgreen;
    border-radius: 10px;
    box-shadow: 5px 5px 15px;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}